body {

  background-color: bisque;
}

.App {

  text-align: center;
  display: flex;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.card {
  text-align: center;
  margin: auto;
  border-color: #282c34;
}

h1 {
color: blue;
text-align: center;
}

.form-control {
  width:fit-content !important;
  margin: auto !important;
  text-align: center;
  display: block !important;
}

p {
  display: block !important;
  text-align: center;
  color:blue;
}

card.body {

  margin-left: 30px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

